.BodyContent {
  z-index: 3;
}
.main-man-enter-done {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.main-man-enter {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0.1;
}
.main-man-enter.main-man-enter-active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.description-content-enter-done {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.description-content-enter {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  opacity: 0.1;
}
.description-content-enter.description-content-enter-active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
p {
  font-family: 'Open Sans', sans-serif;
}
h3 h4 h5 {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width: 1921px) {
  .split-right h3 {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 800px) {
  .body-content-two-image {
    position: absolute;
    left: -20vw;
    background-size: 2000px;
    background-position: 50% -7px;
    z-index: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0s linear;
    transition: 0s linear;
    -webkit-transition-property: background-position;
    transition-property: background-position;
  }
  .text-holder {
    display: grid;
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    background: #fff;
  }
  .text-holder h3 {
    margin: 30px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
  }
  body .App {
    text-align: unset;
  }
  body {
    background-color: #fff;
    overflow-x: hidden;
  }
  .body-content {
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    background-color: #fff;
    height: 100vh;
    display: grid;
  }
  .body-content .split-right {
    padding: 30;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
  }
  .body-content .split-right h3 {
    margin: 40px;
    font-size: 14px;
  }
  .body-content .split-left {
    background-color: #d4e0de;
    width: 100%;
  }
  .header-content {
    display: grid;
    top: 0px;
    left: 0px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
  }
  .header-content .image-holder .background-image {
    background-size: 2000px;
    background-position: 50% 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-transition: 0s linear;
    transition: 0s linear;
    -webkit-transition-property: background-position;
    transition-property: background-position;
  }
  .header-content .content-holder {
    z-index: 0;
    background: #fff;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 3fr;
  }
  .header-content .content-holder p {
    margin: 30px;
    font-family: 'Playfair Display', serif;
  }
  .header-content .content-holder h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
  }
  .navbar {
    z-index: 99;
    display: grid;
    grid-template-columns: 300px 10fr;
    opacity: 0.7;
    background: #d4e0de;
    border: 1px solid #000;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 65px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .header-text {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin: auto;
    margin-left: 30px;
    list-style-type: none;
  }
  .navbar .right-bar {
    width: 65%;
    height: 100%;
    margin: auto;
    margin-right: 20px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar .right-bar a {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin: auto;
    list-style-type: none;
    color: #494949;
  }
  .navbar .right-bar a:visited {
    color: #494949;
  }
}
